* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-image: url(https://www.teahub.io/photos/full/40-406328_animal-crossing-images-data-src-animal-crossing-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stats-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px auto;
}

img {
  height: 100%;
  width: 30%;
  margin: 0 5px;
}

.score {
  margin: 0 50px;
  padding: 0 50px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  border-radius: 20px;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  width: 160px;
  height: 65px;
}

.score p {
  padding-bottom: 5px;
  margin: 0;
  text-align: center;
}

.score h6 {
  padding-top: 5px;
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
}

.lives {
  margin: 0 50px;
  padding: 0;
  width: 160px;
  height: 65px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  border-radius: 20px;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
}

.lives-container {
  margin-left: 10px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.lives-container img {
  width: 40px;
  height: 30px;
}

.main {
  display: flex;
  align-items: center;
  margin: auto;
}

.button {
  text-align: center;
  align-items: center;
  padding: 20px 0;
  margin: 20px;
  width: 160px;
  height: 65px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  border-radius: 20px;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
}

.button:hover {
  cursor: pointer;
  background-color: #efe05f;
  border: 2px solid #72413b;
}

.grid {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 0 black;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid-container {
  background-color: #63b969;
}

.glow {
  box-shadow: 0 0 40px 20px white;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 9%;
  width: 9%;
  background-color: #63b969;
}

.display-result {
  width: 25%;
  text-align: center;
  padding: 27px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 20px;
  position: absolute;
  margin-left: 320px;
  top: 457px;
}

.display-help{
  width: 25%;
  text-align: center;
  padding: 27px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 20px;
  position: absolute;
  margin-left: 320px;
  top: 360px;
}

.display-hide {
  width: 15%;
  text-align: center;
  padding: 27px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 20px;
  position: absolute;
  margin-left: 390px;
  top: 444px;
}

.grid div .center-text {
  text-align: center;
  padding: 45px 133px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 20px;
  position: absolute;
  top: 445px;
}

p.hide {
  position: inherit;
  top: 25px;
  right: 1px;
}

p.win {
  top: 25px;
  right: 25px;
  position: inherit;
}

p.lose {
  top: 25px;
  right: 78px;
  position: inherit;
}

p.help {
  top: 25px;
  right: 78px;
  position: inherit;
}

p.welcome {
  top: 10px;
  right: 0px;
  position: inherit;
}

.display-help p {
  padding: 2px;
}

.help-title {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.scores {
  width: 160px;
  height: 120px;
  margin: 20px;
  padding: 20px;
  color: #72413b;
  border: 2px solid #f2d9c7;
  background-color: #f8a7b0;
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
  font-size: 1.2em;
  border-radius: 20px;
}

.scores p {
  text-align: center;
}

.high-score p {
  text-align: center;
}


/* characters */

.grid div.player {
  background-image: url(https://media2.giphy.com/media/cMKU6Dan3r3wzGOuW5/giphy.gif?cid=6c09b952q03gb3xhkua9cn8doqksaf4qgbcamz2wux9wwlil&rid=giphy.gif&ct=s);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.border {
  background-image: url(https://static.wikia.nocookie.net/animalcrossing/images/c/c7/NH-Tree.png/revision/latest/scale-to-width-down/1930?cb=20200415131758);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.scorpian {
  background-image: url(https://static.wikia.nocookie.net/animalcrossing/images/3/34/NH-Icon-scorpion.png/revision/latest?cb=20200401005429);
  background-repeat: no-repeat;
  background-size: 60%;
}

.grid div.tarantula {
  background-image: url(https://dodo.ac/np/images/thumb/b/bf/Tarantula_NH.png/200px-Tarantula_NH.png);
  background-repeat: no-repeat;
  background-size: 60%;
}

.grid div.wasp {
  background-image: url(https://static.wikia.nocookie.net/animalcrossing/images/9/9e/NH-Icon-wasp.png/revision/latest?cb=20200401005428);
  background-repeat: no-repeat;
  background-size: 60%;
}

.food {
  background-image: url(https://media0.giphy.com/media/ftqucH6K7xo4DBlPRF/giphy.gif?cid=6c09b9529vs9x9zvq2oke4ubywuy3os18wn175n6uotn7z3y&rid=giphy.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.fossil {
  background-image: url(https://i0.wp.com/nookipedia.com/w/images/5/57/Fossil_NH_Inv_Icon.png?resize=650,400);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.net {
  background-image: url(https://www.models-resource.com/resources/big_icons/37/36699.png );
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}

.fence {
  background-image: url(https://static.wikia.nocookie.net/animalcrossing/images/d/d0/NH-Barbed-wire_fence.png/revision/latest?cb=20200326070702);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.balloon {
  background-image: url(https://cdn.designbyhumans.com/file/module/content/135/balloon-gift.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}




/* gifs: */
/* https://data.whicdn.com/images/243726220/original.gif */

/* peach
https://static.wikia.nocookie.net/animalcrossing/images/8/84/NH-DIY-Furniture-Peach_surprise_box.png/revision/latest?cb=20200326043912 */

/* Tom Nook
https://media0.giphy.com/media/kGpAWSFzHvr9XW9nAb/giphy.gif?cid=6c09b952udari2ogurfqa0nl8p8rquf4ugiaqt9vvbup8z1k&rid=giphy.gif&ct=s */

/* star fragment
https://media2.giphy.com/media/J6FWF9uv0qKbhvJicf/giphy.gif?cid=6c09b952lfuckp2rzuvx0ji0418m81pnf854x3rajvrr8w5b&rid=giphy.gif&ct=s */

/* tarantula
https://dodo.ac/np/images/thumb/b/bf/Tarantula_NH.png/200px-Tarantula_NH.png */

/* net 
https://www.models-resource.com/resources/big_icons/37/36699.png */

/* wasp
https://static.wikia.nocookie.net/animalcrossing/images/9/9e/NH-Icon-wasp.png/revision/latest?cb=20200401005428 */

/* balloon
https://cdn.designbyhumans.com/file/module/content/135/balloon-gift.png */